# CARTO Basemaps API Key 
NEXT_PUBLIC_CARTO_API_KEY=your_carto_api_key

# Google Maps Platform
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBF-YOUR_PUBLIC_KEY
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
